html {
    background-color: darkblue;
}
body {
    color: darkblue;
    
    text-decoration: none;
    background: linear-gradient(90deg, rgba(165,42,42,1) 0%, rgba(255,106,0,1) 4%, rgba(255,215,0,1) 35%, rgba(255,215,0,1) 73%, rgba(255,106,0,1) 98%, rgba(165,42,42,1) 100%, rgba(165,42,42,1) 100%, rgba(215,235,13,1) 100%, rgba(165,42,42,1) 100%);
}
a:link {
    color: gray;
    text-decoration: none;
}
a:visited {
    color: blue;
}
a:hover {
    text-decoration: underline;
    color: lightblue;
}
.spacing {
font-size: 11px;
text-align: left;
color: brown;
}
p {
    font-weight: bolder;
}
header img {
    width: 350px;
    height: 250px;
    border: 3px solid darkblue;
    border-radius: 15px;
}