input, textarea {
    /*padding: .5em;*/
    /*margin: auto;*/
    background-color: brown;
    color: gold;
    border: .15em solid gold;
    border-radius: .5em;
    /*width: 80%;*/
    /*box-sizing: border-box;*/
    /*margin-bottom: 1em;*/
    /*margin-top: .2em;*/
    text-align: center;
    
}
body {
    padding: 5px;
}
article {
    /*display: flex;
    flex-direction: column;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr 2.5fr);
    gap: 1em;
    }
    #submit:hover{
        background-color: gold;
        color: brown;
    }
    a:hover {
        text-decoration: none;
        color: lightblue;
    }
    @media screen and (max-width: 799px){
        html {
            background-color: brown;
        }

    }

    #submit {
        ;
    }