{
    "extends": [
        "eslint:recommended"
    ],

    //regular eslint version 
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
        /*, "ecmaFeatures": {
            "jsx": true
        }*/
    },

    //bable version (instead of regular eslint version)
    /*
    "parser": "bable-eslint",
    */

    "env": {
        "browser": true
    },
     "rules": {
    /*
        // enable additional rules
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "double"],
        "semi": ["error", "always"],

        // override default options for rules from base configurations
        "comma-dangle": ["error", "always"],
        "no-cond-assign": ["error", "always"],
    */
        // disable rules from base configurations
        "no-console": 1 //"off"
    } 
}