html {
    background-color: darkblue;
}
body {
    text-align: center;
    color: gold;
    font-size: 18px;
    max-width: 1100px;
    margin: auto;
    padding: 0em 2em;
    padding-top: 0px;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(165,42,42,1) 5%, rgba(165,42,42,1) 36%, rgba(165,42,42,1) 75%, rgba(165,42,42,1) 82%, rgba(165,42,42,1) 86%, rgba(165,42,42,1) 91%, rgba(255,215,0,1) 98%, rgba(255,215,0,1) 100%);
}
h1 {
    font-style: italic;
    font-size: 3em;
    border: 3px solid;
    border-radius: 70px;
    width: 515px;
    margin-left: auto;
    margin-right: auto;
   
}
header img {
    width: auto;
    height: auto;
    border: 3px solid gold;
    border-radius: 15px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: gold;
}
a:link {
    color: gray;
}
a:visited {
    color: lightskyblue;
}
.spacing {
font-size: 11px;
text-align: left;
color: lightskyblue;
padding: 1em;
}
img {
    height: 190px;
    width: 300px;
    border-radius: 55px;
    border-style: ridge;
    border:3px solid gold ;
    /*border-top-left-radius: 900px;*/
    /*border-bottom-right-radius: 900px;*/
    float: left;
}
div p {
   /* height: 100px;*/
   border: none;
}
.price {
    border-bottom: 3px solid gold;
    padding: 30px;
    padding-bottom: 60px;
}
h2 {
    text-decoration: underline;
    padding-top: 15px;
    font-size: 2.5em;
}
.clearFix {
    clear: both;
}
nav ul li {
    margin: 1em;
    list-style-type: none;
    /*display: inline;*/
    padding: 0px;
}
nav ul {
    padding-left: 0px;
}
h3 {
    font-weight: bold;
    font-size: 1.2em;
}