/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end css reset*/

html {
    background-color: gold;
}
body {
    text-align: center;
    background-color: brown;
    color: gold;
    font-size: 18px;
    max-width: 1100px;
    margin: auto;
    padding: 0em;
    padding-top: 0px;
    border-radius: 15px;
    padding-bottom: 0px;
}
h1 {
    font-style: italic;
    font-size: 3em;
    border: 3px solid;
    border-radius: 70px;
    width: 515px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
   
}
header img {
    width: 350px;
    height: 250px;
    border: 3px solid gold;
    border-radius: 15px;
}
a {
    text-decoration: none;

}
a:hover {
    text-decoration: underline;
    color: gold;}
a:link {
    color: gray;}
a:visited {
    color: lightskyblue;}
.spacing {
font-size: 11px;
text-align: left;
color: lightskyblue;
padding: 0px;
margin: 0px;
} 
.burger {
    background-image: url("photos/burger.jpg");
    width: 242px;
    height: 208px;
}
video {
    margin: 1em;
    border: 3px solid gold;
    border-radius: 20px;
}
audio {
    border: 3px solid gold;
    border-radius: 2em;
}
.backround {
    background-image: url(photos/burger.jpg);
    width: 50px;
    height: 50px;
}
img, p, h2, h3, h4, h5, h6  {
    margin: 1em;
    
}
header p {
    margin-top: 0px;
}