/* You can add global styles to this file, and also import other style files */

h2 {
    text-indent: .5em;
}
h3 {
    text-indent: 1.5em;
}
h4 {
    text-indent: 3em;
}
div {
    text-indent: 5em;
}
body {
    border: 5em solid darkgrey;
    padding: 1em;
    margin: 0em;
    -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: black;
}
