body {
    text-align: center;
    background-color: lightgray;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
h3 {
    margin-top: 0px;
    margin-bottom: 3em;
}
video, img {
    width: 320px;
    height: 240px;
}
input, button {
    margin-bottom: 1em;
    margin-top: .5em;
}












































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































p {
    color: lightgray;
    font-size: 8px;
}
p:hover {
color: black;
}